body{ 
    margin:0;
    text-align: center;
    font-family:  sans-serif;
    color: #40514E; 
    ;
}

h1{font-size: 90px;
    margin: 50px auto 0 auto;
font-family: "Sofia", sans-serif;
color: #ffa500;

}  

h2{font-family: sacramento, cursive;
font-size: 2.5rem;
color: #ffa500;
font-weight: normal;
padding-bottom: 10px;
}

h3{color: #ffa500;}

a{color: #EAF6F6;
    font-family: Montserrat, sans-serif;
    margin: 10px 20px;
    text-decoration: none;}
    
a:hover{color: #f8833b;}
    
.copyright{color: #ffffff;
    font-size: 0.75rem;
    padding: 20px o;}



.bottom-container{ background-color: #ffa500;
            padding: 50px 0 20px;}

.footer-link i {
    margin-right: 5px;
 }            
            
        

/*Navigation-bar*/

.navbar{
    overflow: hidden;
    background-color: #ffa500;
    position: fixed;
    top: 0;
    width: 100%;
    padding-bottom: 0 0 4.5rem;
}


 .navbar-brand{
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 170px;
}

.nav-item{
    padding: 0 8px;}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
    color: #ffffff;
}

.nav-link:hover{

    color: #f8833b;
}


.navbar-nav{padding-left:0px;}

.Slides1 {
    margin-top: -40px ;
}

.Slides {
    margin-top: 50px ;
}

.btn {
    background: #ffa500;
    background-image: -webkit-linear-gradient(top, #ffa500);
    background-image: -moz-linear-gradient(top, #ffa500);
    background-image: -ms-linear-gradient(top, #ffa500);
    background-image: -o-linear-gradient(top, #ffa500);
    background-image: linear-gradient(to bottom, #ffa500);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #EAF6F6;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #f8833b;
    background-image: -webkit-linear-gradient(top, #f8833b, #f8833b);
    background-image: -moz-linear-gradient(top, #f8833b, #f8833b);
    background-image: -ms-linear-gradient(top, #f8833b, #f8833b);
    background-image: -o-linear-gradient(top, #f8833b, #f8833b);
    background-image: linear-gradient(to bottom, #f8833b, #f8833b);
    color: #EAF6F6;
    text-decoration: none;
  }
